:root {
  --text-color: #fff;
  --text-sec-color: #999;
  --curve: 40;
  --pri-color: #131417;
  --sec-color: #1f2229;
  --ter-color: black;
  --black: #09090c;
  --grey: #a4b2bc;
  --white: #fff;
  --background: rgba(137, 171, 245, 0.37);
  --alt-color: #4ecf1a;
  --alt-darker-color: #3d9b18;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: var(--alt-color);
}
main {
  min-height: 90vh;
}

h1 {
  font-size: 1.6rem;
  font-weight: 700;
}

h2 {
  font-size: 1.4rem;
  font-weight: 600;
}
h3 {
  font-size: 1.1rem;
  font-weight: 500;
}

h4 {
  font-size: 0.8rem;
  font-weight: 300;
}

.rating span {
  margin: 0.1rem;
}

/* Color Setting */

body {
  background-color: var(--pri-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--text-color);
  font-family: "Poppins", sans-serif !important;
}
.carousel {
  background-color: var(--sec-color) !important;
  color: var(--text-color) !important;
}
.card {
  background-color: var(--sec-color) !important;
  color: var(--text-sec-color) !important;
}
.form {
  background-color: var(--sec-color) !important;
  color: var(--text-color) !important;
}
.form-control {
  background-color: var(--ter-color) !important;
  color: var(--text-color) !important;
}

.list-group,
.list-group-item {
  background-color: var(--pri-color) !important;
  color: var(--text-color) !important;
  border-color: var(--sec-color) !important;
}
.card-title {
  background-color: var(--sec-color) !important;
  color: var(--text-color) !important;
}
.navbar {
  background-color: var(--sec-color) !important;
  color: var(--text-color) !important;
}
.table {
  background-color: var(--sec-color) !important;
  color: var(--text-sec-color) !important;
}
.table tr:hover {
  color: var(--text-color) !important;
}

.btn {
  background-color: var(--ter-color) !important;
}
.btn:hover {
  background-color: var(--sec-color) !important;
}
#link {
  text-decoration: none;
  color: var(--text-sec-color) !important;
}
#navlink {
  text-decoration: none;
  color: var(--text-color) !important;
}

#link:hover {
  text-decoration: none;
  color: var(--text-color) !important;
}

.page-link {
  background-color: var(--sec-color);
  color: var(--text-color);
}
.search-button {
  background-color: var(--alt-color) !important;
}
.search-button:hover {
  background-color: var(--alt-darker-color) !important;
}

.alert-info {
  background-color: var(--grey);
  border: 0;
  color: var(--black);
}

/* carousel */

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 70%;
  left: 10%;
  color: var(--text-color);
  text-align: left;
}
.carousel-caption-2 {
  position: absolute;
  top: 5%;
  left: 10%;
  color: var(--text-color);
  text-align: left;
}

.carousel img {
  height: 480px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption {
    top: 55%;

    font-size: 2.5vw;
  }
  .carousel-caption-2 {
    top: 5%;

    font-size: 2.5vw;
  }
}

/* Navbar */
.navbar {
  border-radius: 0 0 calc(var(--curve) * 1px) calc(var(--curve) * 1px);
  margin: 0 4%;
}
.navbar-brand {
  font-family: "Orbitron", sans-serif !important;
  font-size: 1.5rem;
}

/* Card */
.procard {
  position: relative;

  display: block;
  overflow: hidden;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

.procard:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2);
}
/* searchbox */
.searchbox {
  border-radius: 25px;
}
.search-button {
  border-radius: 8px;
}

/* Navbar Styling */
.nav-link {
  position: relative;
}
.nav-link:before {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--alt-color);
  height: 3px;
  width: 0%;
  left: auto;
  bottom: -5px;
  transition: 0.25s ease;
}

.nav-link:hover:before {
  width: 80%;
}

.signin {
  margin: 0 15%;
  padding: 2%;
  border-radius: 20px;
}
/* footer */
.footer {
  padding: 7% 15%;
  background-color: #0d0c0f;
  color: #fff;
}

/* Footer base */
#footer_base {
  padding: 1% 20%;
  text-align: center;
  color: #fff;
  background-color: var(--ter-color);
}
.github_icon {
  color: var(--alt-color);
  position: relative;
  top: 5px;
}
.github_icon:hover {
  color: var(--alt-darker-color);
}
.base_text {
  font-size: 0.8 rem;
  font-weight: 300;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
